body {
  background-color: antiquewhite;
  word-break: break-all;
}
html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
a {
  text-decoration: none;
}
