<div class="bg-light text-center ">
<br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 align-self-start">
           <%= link_to root_path, class: " #{'active fw-bold' if current_page?(root_path)}" do %>
          <div class="fa fa-home"></div>
          Home
        <% end %>
      </div>
      <div class="col-md-4 align-self-center">
        <%= link_to privacy_path, class: " #{'active fw-bold' if current_page?(privacy_path)}" do %>
          <div class="fas fa-file-contract"></div>
          Privacy
        <% end %>
      </div>
      <div class="col-md-4 align-self-end">
        <%= link_to terms_path, class: " #{'active fw-bold' if current_page?(terms_path)}" do %>
          <i class="fas fa-file-contract"></i>
          Terms
        <% end %>
      </div>
    </div>
  </div>
  <br>
</div>
